<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBtGIDvL8507uA2mT5MuzNzyqnpMzW78tY</string>
	<key>GCM_SENDER_ID</key>
	<string>175778338208</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>AyeshaF.FaheemAyesha-HW5</string>
	<key>PROJECT_ID</key>
	<string>homework6-91055</string>
	<key>STORAGE_BUCKET</key>
	<string>homework6-91055.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:175778338208:ios:6f5f9c2a8628a88b4a80c5</string>
</dict>
</plist>